*
!.bashrc

!.config/

!.config/nvim/
!.config/nvim/**
!.config/nvim/**/*.lua
.config/nvim/rnd
!.config/nvim/lazy-lock.json

!.config/foot
!.config/foot/foot.ini

!.config/fontconfig
!.config/fontconfig/fonts.conf

!.config/pipewire
!.config/pipewire/pipewire.conf.d
!.config/pipewire/pipewire.conf.d/eq.conf

!.XCompose

!.gitconfig
!.gitignore
!.inputrc
!.npmrc
