*
!.bashrc

!.config/

!.config/nvim/
!.config/nvim/**
!.config/nvim/**/*.lua
.config/nvim/rnd
!.config/nvim/lazy-lock.json

!.config/foot
!.config/foot/foot.ini

!.config/fontconfig
!.config/fontconfig/conf.d
!.config/fontconfig/conf.d/50-custom.conf

!.gitconfig
!.gitignore
!.inputrc
